.container{
    margin-bottom: 100px;
}

.buy-now-button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 25px;
    cursor: pointer;
}
p{
    color: gray;
}
.card{
    border: none;
   box-shadow: 5px 5px 10px lightgray;
    border-radius: 15px;
}

.card-body{
    justify-content: center;
}